
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li><a href="#">All Categories</a></li>
						
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">

								<div class="input-checkbox" *ngFor="let item of Category;let i= index">
									<input type="checkbox" id="category-{{i}}"   (change)="toggleCategorySelection(item.category_id)">
									<label for="category-{{i}}">
										<span></span>
										{{item.category_name}}
										
									</label>
								</div>

							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<!-- <div class="aside">
							<h3 class="aside-title">Price</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div> -->
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Brand</h3>
							<div class="checkbox-filter" *ngFor="let item of Brands;let i = index">
								<div class="input-checkbox">
									<input type="checkbox" id="brand-{{i}}" 
                                  
                                      (change)="toggleBrandSelection(item.brand_id)"
                                      >
									<label for="brand-{{i}}">
										<span></span>
										{{item.brand_name}}

									</label>
								</div>
							
							</div>
						</div>
						<!-- /aside Widget -->

			
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Sort By:
									<select class="input-select" [(ngModel)]="query.sort" (change)="sortChange()">
										<option value="4">Name down</option>
										<option value="3">Name up</option>
                                        <option value="2">Newest</option>
                                        <option value="1">Oldest</option>


									</select>
								</label>

								<label>
									Show:
									<select class="input-select" [(ngModel)]="query.pageSize" (change)="pageSizeChange()">
										<option value="3">3</option>
										<option value="6">6</option>
                                        <option value="9">9</option>
									</select>
								</label>
							</div>
							<!-- <ul class="store-grid">
								<li class="active"><i class="fa fa-th"></i></li>
								<li><a href="#"><i class="fa fa-th-list"></i></a></li>
							</ul> -->
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6" *ngFor="let item of Variant">
                                <div class="product" >
                                    <a href="user/detail/{{item.id}}">
                                    <div class="product-img">
                                        <img src="{{item.image}}" alt="">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{item.category_name}}</p>
                                        <h3 class="product-name"><a href="#">{{item.laptop_name}} {{item.cpu}} {{item.ram}} {{item.storage}}</a></h3>
                                        <h4 class="product-price">{{item.price?((item.price | currency: " ": 'symbol':'1.0-0')+'đ'):'Liên hệ'}}</h4>
                                    
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    
                                    </div>
                                    </a>
                                
                                </div>
                                <!-- /product -->
							</div>
							<!-- /product -->

							
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
                                <li *ngIf="query.pageIndex!=1" (click)="previousPage()"><i class="fa fa-angle-left"></i></li>

                                <li class="active" [ngClass]="{'active': query.pageIndex === item}" *ngFor="let item of numbers" (click)="setPage(item)">{{ item }}</li>
								
								<li *ngIf="query.pageIndex!=totalPage" (click)="nextPage()"><i class="fa fa-angle-right"></i></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->