
<div class="card">
    <div class="card-header">
        <h5 >Chi tiết đơn hàng</h5>
    </div>

    <div class="card-body">

      <div>
        <ul>
          <li>Khách hàng : {{Orders.Name}}</li>
          <li>Địa chỉ : {{Orders.Address}}</li>
          <li>Email : {{Orders.Email}}</li>
          <li> Số điện thoại : {{Orders.Mobile}}</li>
          <li>Ngày đặt : {{Orders.order_date |date:'yyyy-MM-dd' }}</li>
        </ul>

      </div>
      <div class="table-responsive text-nowrap">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Cpu</th>
              <th>Ram</th>
              <th>Storage</th>
              <th>Pin</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of OrderDetails">
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{item.laptop_name}}</strong>
              </td>
              <td><img style="width: 100px;" src="{{item.image}}" alt=""></td>
              <td>{{item.cpu}}</td>
              <td>{{item.ram}}</td>
              <td>{{item.storage}}</td>
              <td>{{item.pin}}</td>
              <td>{{item.price | number: '1.0-0'}} VND</td>
              <td>{{item.quantity}}</td>
              <td>{{item.quantity*item.price | number:'1.0-0'}} VND</td>
            
            </tr>
            
          </tbody>
        </table>
      </div>

    
    </div>


  </div>

  <div class="card mt-1">
    <div class="card-body">
      <div class="row">

        <div *ngFor="let item of OrderStatus " class="col-md-2" >
                <div>-----{{item.change_time| date:'yyyy-MM-dd hh:mm:ss' }} ---------</div>
                <div> {{item.new_status}}</div>
        </div>
      
      </div>

      <div class="float-end col-md-2">
        <button class="btn btn-danger" [disabled]="OrderStatus[OrderStatus.length-1].new_status==='Completed' || OrderStatus[OrderStatus.length-1].new_status==='Cancelled'"  (click)="cancel()"> Hủy</button>
        <button class="btn btn-primary"  [disabled]="OrderStatus[OrderStatus.length-1].new_status==='Completed' || OrderStatus[OrderStatus.length-1].new_status==='Cancelled' " (click)="excute()">Duyệt</button>
       </div>
  
    </div>
  </div>

