<div class="container">
    <div class="row">
        <div class="col-md-3" style="border: 1px solid #555;min-height:300px">
            <p>Xin chào Phạm Văn Của</p>
            <p>Địa chỉ : Hưng Yên</p>
            <p>Email : phamcua670@gmail.com</p>
            <p>Số điện thoại : 0364141625</p>
        </div>

        <div class="col-md-9" style="border: 1px solid #555; min-height: 300px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
