.search-result {
    position: fixed;
    height: 200px;
    min-height: 400px;
    top: 20px; /* Adjust the top position as needed */
    left: 0;
    background-color: #fff; /* Add your desired background color */
    border: 1px solid #ccc; /* Add your desired border styles */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add your desired box shadow */
    z-index: 1000000000000000000; /* Adjust the z-index to be above other page elements */

  }

* {
    box-sizing: border-box;
  }
  